body {
    font-family: 'Hack';
}

.btn-custom {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 0; /* This removes the border-radius */
  }

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds some space between buttons */
  }

#dyn {
    color: white; /* Explicitly sets the color of the PRETENDI text to white */
  }


  body, html {
    height: 100%;
    margin: 0;
  }

  .content-wrap {
    min-height: calc(100% - 56px); /* Adjust the 56px based on your footer's height */
    padding-bottom: 56px; /* Same as footer height */
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 56px; /* Set your footer's height */
  }

